<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestras PCs</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="linea"></div>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="navbar-container">
                    <div class="navbar-links">
                      <a href="/login" class="navbar-link">Log In</a>
                      <a href="/" class="navbar-link">Home</a>
                      <a href="/pc-armadas" class="actual-link">PC Armadas</a>
                      <a href="/components" class="navbar-link">Componentes</a>
                      <a href="mailto:iancorradibutcher@gmail.com" class="navbar-link">Comprar</a>
                    </div>
            </div>
          </nav>
    </header>
    <div class="container">
        <div class="containercomponent">
            <div class="content">
                <% for (pc of pcArmadas){ %>
                    <section id="detectClick" class="boxes">
                        <a href="/pc-armadas/<%= pc.id %>">
                            <h1><%= pc.name %></h1>
                            <p style="color: #19ce64;">$<%= pc.cost %></p>
                            <p><%= pc.description %></p>
                        </a>       
                    </section>
            <% } %>
            </div>
        </div>
    </div>
</body>
</html>