/* Style goes here UwU nereo */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zen+Tokyo+Zoo&display=swap');
body{
    background-color:#090018;
    transform: scale(0.9);

}

.titulo 
{
  margin-left: 38%;
  height: 300px;
  width: 300px;
}

.linea {
    margin-top: 60px;
    height: 3px;
    width: 100%;
    background: rgb(11,1,30);
    background-image: linear-gradient(90deg, rgba(11,1,30,1) 0%, rgba(255,69,0,1) 48%, rgba(11,1,30,1) 100%);
}

.linea2 {
    margin-top: 20px;
    height: 3px;
    width: 70%;
    margin-left: 15%;
    margin-right: 50px;
    background: rgb(11,1,30);
    background-image: linear-gradient(90deg, rgba(11,1,30,1) 0%, rgba(255,69,0,1) 48%, rgba(11,1,30,1) 100%);
}

/* navbar */
/* */
.navbar {
    margin-top: 30px;
    background-color: #0B011E;
    border-radius: 5px;
    border: 1px solid #FF4500;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    transform: scale(0.8);
  }
  
  .navbar-brand {
    color: #FF4500;
    text-decoration: none;

  }
  
  .navbar-links {
    display: flex;

  }

  .actual-link {
    background-color: #ff4500;
    color: #090018;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;
    border: 2px solid #FF4500;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .navbar-link {
    color: #FF4500;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#090018;
    border-radius: 25px;
    border: 2px solid #FF4500;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.3 ease-in;
  }

  .navbar-link:hover {
    background-color: #FF4500;
    color: #090018;
    transition: background-color 0.5s, color 0.5s ease-out;
}

/* body */

.container {
    margin-top: 30px;
    background-color: #0B011E;
    border-radius: 5px;
    border: 1px solid #FF4500;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.titulo {

        font-family: "Zen Tokyo Zoo", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color:#FF4500;
        font-size: 60px;
        
}
.titleline {
    margin-top: 40px;
    height: 4px;
    width: 79%;
    background:#FF4500;
    margin-left: 10%;
}

.linediag {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, currentcolor 10px, currentcolor 12px);
    padding: 0px;
    aspect-ratio: 10 / 1;
    border: 0px;
    display: block;
    color: inherit;
    color: #FF4500;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    }
    .linediag1 {
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, currentcolor 10px, currentcolor 12px);
        padding: 0px;
        aspect-ratio: 16 / 1;
        border: 0px;
        display: block;
        color: inherit;
        color: #FF4500;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        }
    


/*Armar pc*/
.circle {
    transform: rotate(-90deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#FF4500, #0B011E);
    margin-left: 170px;
    position: relative;
    overflow: hidden;
}

/*.circle-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.building {
    display: flex;
    color:#FF4500;
    margin-top: 50px;

  }
  

  .hline {
    width: 7px;
    height: 178px;
    background-image: linear-gradient(#FF4500, #0B011E);
    margin-left: 174px;
    margin-right: 20px;
    border: 0px solid ;
    margin-top: 40px;

  }
  
  .text {
    flex: 1;
    margin-top: 40px;
    

  }
  

  .title {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.74);
  }
  
  .description {
    margin-bottom: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #ff4400b9;
    color: #faf6f0be;
    border-radius: 20px;
    padding: 15px;
    font-style: normal;
    margin-right: 100px;
  }

  /*Computadoras armadas*/

  .flipped-building {
    display: flex;
    color: #FF4500;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    flex-direction: row-reverse; /* Invertir la dirección de los elementos */
    border-radius: 11px;
    border: 2px solid #FF4500;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}

.flipped-circle {
    transform: rotate(180deg); /* Rotar el círculo para que aparezca al lado derecho */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#FF4500, #0B011E);
     /* Ajustar el margen derecho para que el círculo esté alineado al lado derecho */
}

.flipped-hline {
    width: 7px;
    height: 178px;
    background-image: linear-gradient(#FF4500, #0B011E);
    margin-left: 0px; /* Ajustar el margen izquierdo para que la línea esté al lado izquierdo */
    margin-right: 100px; /* Ajustar el margen derecho para que la línea esté al lado izquierdo */
    border: 0px solid;
    margin-top: 40px;
    transform: translateX(-30px);
}

.flipped-text {
    flex: 1;
    margin-top: 40px;
    text-align: right;
    transform: translateX(40px);
    margin-bottom: 20px;
}

.flipped-text h1 {
    margin-right: 95px;
}

.text1 {
    flex: 1;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 80px;
    text-align: center;

  }

.circle1 {
    transform: rotate(90deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#FF4500, #0B011E);
    margin-left: 170px;
}

.title1 {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-right: 90px;
    color: white;
  }
  


.circle, .flipped-circle, .circle1 {
    transition: transform 0.3s, transform-origin 0.3s, scale 0.3s;
}

.circle:hover, .flipped-circle:hover, .circle1:hover {
    transform: scale(1.1);
}

footer {
  text-align: center;
  margin-top: 30px;
}

.aboutus {
  color:#FF4500;
  margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  text-decoration: underline;
  font-size: 13px;
  
}

/*Log In*/

body {
  perspective: 1000px;
}

.containerl {
  perspective: 1000px;
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 60px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.logincont, .registercont {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0B011E;
  color: #FF4500;
  border: 1px solid #FF4500;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, visibility 0.6s;
}

.logincont {
  transform: rotateY(0deg);
  opacity: 1;
  visibility: visible;
}

.registercont {
  transform: rotateY(180deg);
}

.containerl.flipped .card {
  transform: rotateY(180deg);
}

.containerl.flipped .logincont {
  opacity: 0;
  visibility: hidden;
}

.containerl.flipped .registercont {
  opacity: 1;
  visibility: visible;
}

.logincont h1, .registercont h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.linediag2 {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, currentcolor 10px, currentcolor 12px);
  padding: 0px;
  aspect-ratio: 7 / 1;
  border: 0px;
  display: block;
  color: inherit;
  color: #FF4500;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.form {
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.form label {
  margin-bottom: 20px;
  font-size: 16px;
}

.form input {
  width: 100%; /* Full width input */
  height: 40px; /* Height of the input */
  font-size: 16px; /* Font size */
  padding: 8px; /* Padding inside the input */
  border-radius: 4px; /* Border radius */
  border: 1px solid #FF4500; /* Border color */
  background-color: #090018;
  color: #FF4500;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin-bottom: 20px; /* Space between inputs */
  margin-top: 10px;
}

.captcha {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  flex: 1;
  margin-right: 10px; /* Space between checkbox and label */
  width: 20px; /* Width of the checkbox */
  height: 20px; /* Height of the checkbox */
  border: 2px solid orange; /* Orange border */
  border-radius: 4px; /* Border radius */
  background-color: black; /* Background color */
  cursor: pointer; /* Pointer cursor on hover */
}

input[type="checkbox"]:checked {
  background-color: orange; /* Background color when checked */
}

.captcha label {
  flex: 8;
}

.mi-boton {
  background-color: #FF4500; /* Background color */
  border: none; /* No border */
  color: white; /* Text color */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No text decoration */
  display: inline-block; /* Inline-block display */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 100px; /* Rounded corners */
}

.acceder {
  display: flex;
  justify-content: center;
  font-size: small;
  text-align: center;
  color: #FF4500;
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.access {
  margin-left: 8px;
  text-decoration: underline;
  cursor: pointer;
}



  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-links {
      margin-top: 10px;
    }
    
    .navbar-link {
      margin: 5px 0;
    }
  }
