<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Componentes</title>
</head>
<body>
    <% for (componentito of components){ %>
        <section id="detectClick">
            <a href="/components/<%= componentito.id %>">
                <h1><%= componentito.name %></h1>
                <p>$<%= componentito.cost %></p>
                <p><%= componentito.tipo %></p>
            </a>       
        </section>
   <% } %>
</body>
</html>