<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <div class="linea"></div>
  <header>
      <nav class="navbar">
          <div class="navbar-container">
              <div class="navbar-links">
                <a href="/login" class="navbar-link">Log In</a>
                <a href="/" class="navbar-link">Home</a>
                <a href="/components" class="navbar-link">Componentes</a>
                <a href="/carrito" class="actual-link">Mi Carrito</a>
                <a href="/atencionAlCliente" class="navbar-link">Atención al cliente</a>
              </div>
          </div>
      </nav>
  </header>
</body>
</html>