<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anita max win</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="linea"></div>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
              <div class="navbar-links">
                <a href="#" class="navbar-link">Log In</a>
                <a href="#" class="actual-link">Home</a>
                <a href="#" class="navbar-link">About us</a>
                <a href="#" class="navbar-link">Register</a>
              </div>
            </div>
          </nav>
    </header>

    <div class="container">
        <p class="titulo">Orange Box</p>
        <div class="titleline"></div>
        <hr class="linediag">
        <div class="building">
            <div class="circle">
                <div class="circle-image">
                    <img src="armado.jpeg" alt="">
                </div>
            </div>
            <hr class="hline">
            <div class="text">
                <h1 class="title">
                    Arma tu PC
                </h1>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                </p>
            </div>
        </div>

        <div class="flipped-building">
            <div class="flipped-circle"></div>
            <hr class="flipped-hline">
            <div class="flipped-text">
                <h1 class="title">
                    PCs Armadas
                </h1>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                </p>
            </div>
        </div>
        <div class="linea2"></div>
        <div class="building">
            <div class="circle1"></div>
            <div class="text1">
                <h1 class="title1">
                    Atención al cliente
                </h1>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                </p>
            </div>
        </div>
    </div>
    

</body>
</html>