<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/images/ORANGE BOX logo.png" type="image/x-icon">

</head>
<body>
    <!--<div class="linea"></div>-->
    <header>
        <nav class="navbar">
            <div class="navbar-container">
              <div class="navbar-links">
                <a href="/login" class="navbar-link">Log In</a>
                <a href="/" class="actual-link">Home</a>
                <a href="/about-us" class="navbar-link">About us</a>
              </div>
            </div>
          </nav>
    </header>
    <div class="bodytotal">
        <div class="lateralnavbar">
            <a href="/components" class="">Componentes</a><br>
            <a href="/carrito" class="">Mi Carrito</a><br>
            <a href="/atencionAlCliente" class="">Atención al cliente</a><br>
        </div>
        <div class="container">
            <p class="titulo">Orange Box</p>
            <div class="titleline"></div>
            <hr class="linediag">
            <div class="building">
                <div class="circle">
                    <div class="circle-image">
                        <img src="armado.jpeg" alt="">
                    </div>
                </div>

                <hr class="hline">
                <div class="text">
                    <h1 class="title">
                        Arma tu PC
                    </h1>
                    <p class="description">
                        Descubre una nueva forma de potenciar tu experiencia informática con OrangeBox. Desde procesadores de última generación hasta tarjetas gráficas de alto rendimiento, tenemos todo lo que necesitas para construir la PC de tus sueños. Nuestros expertos en hardware te guiarán en cada paso del proceso, asegurándose de que obtengas el máximo rendimiento y calidad en cada componente. ¡Haz realidad tu visión y arma tu PC con OrangeBox hoy mismo!
                    </p>
                </div>            
            </div>

            <div class="flipped-building">
                <div class="flipped-circle"></div>
                <hr class="flipped-hline">
                <div class="flipped-text">
                    <h1 class="title">
                        Descubre Nuestras PCs Armadas
                    </h1>
                    <p class="description">
                        Sumérgete en el mundo del rendimiento sin compromisos con nuestras PCs armadas de OrangeBox. Diseñadas para satisfacer las demandas más exigentes, nuestras configuraciones ofrecen una combinación perfecta de potencia, fiabilidad y estilo. Desde juegos de última generación hasta tareas intensivas de producción, nuestras PCs armadas están listas para enfrentar cualquier desafío. Experimenta el máximo rendimiento y la calidad superior con OrangeBox hoy mismo.
                    </p>
                    
                </div>
            </div>
            <div class="linea2"></div>
            <div class="building">
                <div class="circle1"></div>
                <div class="text1">
                    <h1 class="title1">
                        Carrito
                    </h1>
                    <p class="description">
                        Revisa los productos que has seleccionado y arma la PC perfecta con OrangeBox. Desde potentes procesadores hasta tarjetas gráficas de última generación, tenemos todo lo que necesitas para construir la PC de tus sueños. Nuestro equipo experto está aquí para ayudarte en cada paso del proceso de compra, asegurándose de que encuentres los componentes adecuados para tus necesidades. Con OrangeBox, el proceso de compra de tu nueva PC es fácil, conveniente y satisfactorio. ¡Explora nuestro carrito hoy mismo y haz realidad tu visión informática!
                    </p>                 
                </div>
            </div>
            <br>
            <br>
            <hr class="linediag1">
        </div>
    </div>
    <footer>
        
    </footer>

</body>
</html>