<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mejor jijuesuputa madre sitio del proa</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="linea"></div>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
              <div class="navbar-links">
                <a href="#" class="navbar-link">Log In</a>
                <a href="#" class="actual-link">Home</a>
                <a href="#" class="navbar-link">About us</a>
                <a href="#" class="navbar-link">Register</a>
              </div>
            </div>
          </nav>
    </header>

    <div class="container">
        <p class="titulo">Orange Box</p>
        <div class="titleline"></div>
    </div>
    

</body>
</html>